body{
  background-color: #B22222;
}

.start p{
  padding-top: 25px;
  padding-bottom: 20px;
}

#idied {
  margin-left: 50px;
  padding-top: 20px;
}

#icheated {
  margin-left: 50px;
  padding-top: 20px;
  font-size: 30px;
  
}
