p {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}

#first a{
  border: none;
  border-color: transparent;
}

#pic img{
  box-sizing: border-box;
  max-width: 100%;
  min-width: 400px;
  padding-bottom: 25px;

}

#haven {

  text-decoration: none;
  position: absolute;
  left: 75px;
  top: 710px;
  width: 45px;
  height: 15px;
}

#haven:hover{
  background-color: rgba(256, 250, 250, 0.3);
}

#real {

  text-decoration: none;
  position: absolute;
  top: 800px;
  left: 700px;
  width: 50px;
  height: 20px;
}

#real:hover{
  background-color: rgba(256, 250, 250, 0.3);
}
