p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}

#first a{
  border: none;
  border-color: transparent;
}

#map{
  max-width: 100%;
  height: auto;
  position: relative;
}

#second {
  position:relative;
}

#haven {
  
  text-decoration: none;
  position: absolute;
  left: 5%;
  top: 32%;
  width: 7%;
  height: 5%;
  padding-bottom: 5%;
  z-index: 1;
}

#haven:hover{

  background-color: rgba(256, 250, 250, 0.3);
}

#real {

  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 81%;
  width: 10%;
  height: 5%;
  padding-bottom: 5%;
  z-index: 1;
}

#real:hover{
  background-color: rgba(256, 250, 250, 0.3);
}
